<header id="app-topbar">
  <h1 class="h">
    Kristof Dewilde
  </h1>
  <nav>
    <ul>
      <li><a href="/">{% include svg/qrivi.liquid %}</a></li>
      <li>
        <ul>
          <li><a href="https://linkedin.com/in/Qrivi" target="_blank">{% include svg/linkedin.liquid %}</a></li>
          <li><a href="https://github.com/Qrivi" target="_blank">{% include svg/github.liquid %}</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
