<meta charset="UTF-8">
<meta name="description" content="Full Stack Java Developer">
<meta name="keywords" content="kristof, dewilde, krivi, qrivi, full, stack, fullstack, java, javascript, developer">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>{% if page.layout == 'post' %}{{page.title}} | {% endif %}{{site.title}}</title>
