@charset 'UTF-8';

@import "base/vars";

body {
  --background: #ffffff;
  --text: #030044;
  --border: #070606;
  --accent: rgb(179, 136, 68);
  --dim: rgba(179, 136, 68, 0.4);

  position: relative;
  max-width: 100vw;
  background: var(--background);
  color: var(--text);
  font: 400 1.1em/2em $font-regular;

  &.darkmode {
    --background: #000000;
    --text: #ffffff;
    --border: #dedede;
    --accent: rgb(250, 170, 20);
    --dim: rgba(250, 170, 20, 0.4);
  }
}

::selection {
  background: var(--accent);
  color: var(--text);
}

a {
  text-decoration: inherit;
  color: inherit;
}

.h {
  display: none !important;
}
