@charset "UTF-8";

@import './css/reset';
@import './css/imports';
@import './css/syntax';
@import './css/animations';

body {
    --font-regular: 'Karla', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-monospace: 'Courier Prime', 'Courier New', Courier, monospace;
    --font-writing: 'Parisienne', Arial, sans-serif;

    --syntax: rgb(249, 248, 245);
    --fade: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,.69) 69%, rgba(255,255,255,.2) 100%);
    --background: rgb(255, 255, 255);
    --scene: rgb(245, 247, 250);
    --text: rgb(3, 0, 68);
    --border: #dcdee1;
    --accent: rgb(179, 136, 68);
    --dim: rgba(179, 136, 68, 0.4);

    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    background: var(--scene);
    color: var(--text);
    font: 400 1.1em/2em var(--font-regular);
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overflow-x: hidden;

    &.darkmode {
        --syntax: rgb(39, 40, 34);
        --fade: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.69) 69%, rgba(0,0,0,.2) 100%);
        --background: rgb(10, 10, 10);
        --scene: rgb(0, 0, 0);
        --text: rgb(255, 255, 255);
        --border: rgb(36, 36, 36);
        --accent: rgb(250, 170, 20);
        --dim: rgba(250, 170, 20, 0.4);
    }

    > header,
    > main {
      transition: transform 250ms ease-in-out;
      transform-style: flat;
    }

    &.withmenu > header,
    &.withmenu > main {
      transform: translateX(500px);
    }
}

::selection {
    background: var(--accent);
    color: var(--text);
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.h {
    display: none !important;
}
