@charset "UTF-8";

.article {
  display: block;
  margin-bottom: 100px;
}

.article > header {
  display: block;
  position: relative;
  height: 500px;
  padding: 180px 0 0;
}

.article > header img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  animation: postheader 2s ease-out forwards;
}

@keyframes postheader {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.article > header::after {
  content: " ";
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--background) 100%);
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.article > header div {
  position: relative;
  z-index: 5;
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
}

.article > header time {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  opacity: 0.5;
}

.article > header h1 {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.4em;
  margin: 5px 0 15px;
}

.article > header li {
  display: inline;
  font-size: 0.7em;
  color: var(--accent);
  transition: opacity 0.5s;
}

.article > header li:hover {
  opacity: 0.75;
}

.article > header li a {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 0;
}

.article > header li a::before {
  content: "#";
}

.article > article {
  display: block;
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.article > article > *:nth-child(1) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 0.2s forwards;
}

.article > article > *:nth-child(2) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 0.4s forwards;
}

.article > article > *:nth-child(3) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 0.6s forwards;
}

.article > article > *:nth-child(4) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 0.8s forwards;
}

.article > article > *:nth-child(5) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 1s forwards;
}

.article > article > *:nth-child(6) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 1.2s forwards;
}

.article > article > *:nth-child(7) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 1.4s forwards;
}

.article > article > *:nth-child(8) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 1.6s forwards;
}

.article > article > *:nth-child(9) {
  opacity: 0;
  animation: postcontent 1.5s ease-out 1.8s forwards;
}

.article > article > * {
  opacity: 0;
  animation: postcontent 1.5s ease-out 2.4s forwards;
}

@keyframes postcontent {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
  }
}

.article > article h1 {
  max-width: 740px;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.8em;
}

.article > article h2 {
  max-width: 740px;
  margin: 0 auto;
  padding: 30px 20px 15px;
  font-size: 1.7em;
  font-weight: 700;
}

.article > article h3 {
  max-width: 740px;
  margin: 0 auto;
  padding: 30px 20px 15px;
  font-size: 1.5em;
  font-weight: 700;
}

.article > article h4 {
  max-width: 740px;
  margin: 0 auto;
  padding: 30px 20px 15px;
  font-size: 1.4em;
  font-weight: 700;
}

.article > article p {
  max-width: 740px;
  margin: 0 auto;
  padding: 15px 20px;
}

.article > article p.intro {
  font-size: 1.3em;
  padding: 0 20px 55px;
}

.article > article p a {
  color: var(--accent);
}

.article > article p mark {
  background: var(--dim);
  color: var(--text);
}

.article > article p em {
  font-style: italic;
}

.article > article p strong {
  font-weight: 700;
}

.article > article p code {
  font-family: "Anonymous Pro", "Courier New", Courier, monospace;
}

.article > article p code::before,
.article > article p code::after {
  content: " ";
  display: inline-block;
  min-width: 6px;
}

.article > article pre {
  max-width: 740px;
  margin: 0 auto;
  padding: 15px 20px;
  white-space: pre-wrap;
}

.article > article ul {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px 15px 40px;
  list-style-type: square;
}

.article > article ol {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px 15px 40px;
  list-style-type: decimal;
}

.article > article li {
  padding-left: 5px;
}

.article > article blockquote {
  margin: 25px auto 0;
  padding: 0 10px;
  text-align: center;
  font: 2.4em/1.4em "Parisienne", Arial, sans-serif;
}

.article > article blockquote footer {
  font: 0.4em "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  padding: 25px 0;
}

.article > article blockquote::before,
.article > article blockquote::after {
  content: " ";
  display: block;
  margin: 0 auto 25px;
  background: var(--accent);
  width: 60px;
  height: 3px;
}

.article > article blockquote footer::before,
.article > article blockquote footer::after {
  content: " — ";
}
