@charset "UTF-8";

body > * {
  display: none !important;
}
body:before {
  font: 20pt Arial, sans-serif;
  display: block;
  text-align: center;
  padding: 333px 0 20px;
  border-bottom: solid 1px gray;
  content: "Thank you for considering my resume.";
}
body:after {
  font: 14pt italic Arial, sans-serif;
  display: block;
  text-align: center;
  padding: 25px 0 0;
  content: "For a printable version, visit cv.kristofdewil.de";
}
