---
import Meta from "../components/Meta.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Logo from "../components/Logo.vue";
---

<html lang="en">
  <head>
    <Meta />
  </head>

  <body style="display: flex;align-items: center;    justify-content: center">
    <div style="width: 400px">
      <Logo client:idle/>
    </div>
  </body>
</html>
