---
import PageBody from '../components/PageBody.astro';
import PageHead from '../components/PageHead.astro';
import Header from '../components/Header.astro';
import Preview from '../components/Preview.astro';

const content = Astro.fetchContent('./blog/*.md');
const today = new Date();
const posts = content
  .map(post => ({ ...post, published: new Date(post.published)}))
  .filter(post => post.published < today)
  .sort((a, b) => b.published - a.published);
---

<html lang="en">
  <PageHead/>

  <PageBody>
    <Header slot="header" />

    <section>
        <h2>Recent activity</h2>
        <ul>
          {posts.map(post => <li><Preview post={post} /></li>)}
        </ul>
      </section>
  </PageBody>
</html>
