---
import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Menu from "../components/Menu.vue"
import Meta from "../components/Meta.astro"
import PostOverview from "../components/PostOverview.astro"
---

<html lang="en">
  <head>
    <Meta />
  </head>

  <body class="darkmode">
    <Header />

    <main>
      <Hero />
      <PostOverview />
    </main>

    <Menu client:idle />
  </body>
</html>
