---
import Hero from '../components/Hero.astro';
---

<header>
  <h1>Kristof Dewilde</h1>
  <div class="sticky">
    <Hero/>
  </div>
</header>

<style lang="scss">
  h1 {
    display: none;
  }
</style>
