---
import Hero from './Hero.astro';
import ThemeToggle from './ThemeToggle.tsx';
---

<header>
  <h1>Kristof Dewilde</h1>
  <Hero />
  <ThemeToggle client:idle />
</header>

<style lang="scss">
  header {
    width: 640px;
    height: 100vh;

    > h1 {
      display: none;
    }
  }
</style>
