---
console.log('hello')
---

<body>
  <slot name="header" />
  <main>
    <slot />
  </main>
</body>

<style lang="scss">
  body {
    position: relative;
    display: flex;
    max-width: 100vw;
    background: var(--background);
    color: var(--text);
    font: 400 1.1em/2em var(--font-regular);
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

    > header {
      width: 550px;
      height: 100vh;
    }

    > main {
      background-color: var(--scene);
      flex: 1;
      min-height: 100vh;
    }
  }
</style>
