---
import PostPreview from "../components/PostPreview.astro";

const content = Astro.fetchContent('../pages/posts/*.md');
const today = new Date();
const posts = content
  .map(post => ({ ...post, published: new Date(post.published)}))
  .filter(post => post.published < today)
  .sort((a, b) => b.published - a.published);
---

<section class="wrapper">
  <h2>Recent activity</h2>
  <ul>
    {posts.map(post => <li><PostPreview post={post} /></li>)}
  </ul>
</section>

<style lang="scss">
  section{
    margin-top: -80px;

    h2 {
      display: none;
    }
    ul {
      columns: 1;
      column-gap: 25px;
      margin: 20px;

      li {
        animation: postListSlideIn 500ms 1400ms ease-out forwards;
        transform: translateY(100px);
        opacity: 0;

        &:nth-child(1) {
          animation-delay: 0ms;
        }
        &:nth-child(2) {
          animation-delay: 200ms;
        }
        &:nth-child(3) {
          animation-delay: 400ms;
        }
        &:nth-child(4) {
          animation-delay: 600ms;
        }
        &:nth-child(5) {
          animation-delay: 800ms;
        }
        &:nth-child(6) {
          animation-delay: 1000ms;
        }
        &:nth-child(7) {
          animation-delay: 1200ms;
        }

        @keyframes postListSlideIn {
          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
</style>
