@charset "UTF-8";

@import "./css/reset";
@import "./css/imports";
@import "./css/syntax";
@import "./css/animations";

body {
  --font-regular: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-monospace: "Courier Prime", "Courier New", Courier, monospace;
  --font-writing: "Parisienne", Arial, sans-serif;

  --syntax: #f9f8f5;
  --background: #ffffff;
  --scene: #F5F7FA;
  --text: #030044;
  --border: #070606;
  --accent: rgb(179, 136, 68);
  --dim: rgba(179, 136, 68, 0.4);

  &.darkmode {
    --syntax: #272822;
    --background: #000000;
    --scene: #131313;
    --text: #ffffff;
    --border: #dedede;
    --accent: rgb(250, 170, 20);
    --dim: rgba(250, 170, 20, 0.4);
  }
}

::selection {
  background: var(--accent);
  color: var(--text);
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.h {
  display: none !important;
}
