@charset "UTF-8";

body {
  --background: #ffffff;
  --text: #030044;
  --border: #070606;
  --accent: rgb(179, 136, 68);
  --dim: rgba(179, 136, 68, 0.4);

  position: relative;
  max-width: 100vw;
  background: var(--background);
  color: var(--text);
  font: 400 1.1em/2em "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body.darkmode {
  --background: #000000;
  --text: #ffffff;
  --border: #dedede;
  --accent: rgb(250, 170, 20);
  --dim: rgba(250, 170, 20, 0.4);
}

::selection {
  background: var(--accent);
  color: var(--text);
}

a {
  text-decoration: inherit;
  color: inherit;
}

body > header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

body > header h1 {
  display: none;
}

body > header nav {
  display: block;
  width: 100%;
  height: 100px;
}

body > header ul {
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100%;
}

body > header svg {
  display: block;
  height: 100%;
}

body > header svg #icon-laurel {
  fill: var(--text);
}

body > header svg #icon-letter {
  fill: none;
  stroke: var(--text);
  stroke-width: 10;
  stroke-miterlimit: 10;
}
