@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css?family=Parisienne&display=swap");

$font-writing: "Parisienne", Arial, sans-serif;
$font-regular: "Karla", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-monospace: "Anonymous Pro", "Courier New", Courier, monospace;
