<!DOCTYPE html>
<html>
    {%- include head.html -%}

<body <nav>
    <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/about" | relative_url }}">About</a></li>
        <li><a href="{{ "/cv" | relative_url }}">CV</a></li>
        <li><a href="{{ "/blog" | relative_url }}">Blog</a></li>
    </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div>

    <footer>
        <ul>
            <li><a href="mailto:no@spam.pls">email</a></li>
            <li><a href="https://github.com/qrivi">github.com/Qrivi</a></li>
        </ul>
    </footer>
</body>

</html>