<!doctype html>
<html lang="en">
    {% include head.liquid %}

    <body>
        {% include header.liquid %}

        <main>
            {% include section/hero.liquid %}
            {% include section/activity.liquid %}
        </main>
    </body>
</html>
