@charset "UTF-8";

@import "css/reset";
@import "css/vars";
@import "css/syntax";
@import "css/animations";

/* #region Page Setup */

body {
  --background: #ffffff;
  --text: #030044;
  --border: #070606;
  --accent: rgb(179, 136, 68);
  --dim: rgba(179, 136, 68, 0.4);

  position: relative;
  max-width: 100vw;
  background: var(--background);
  color: var(--text);
  font: 400 1.1em/2em $font-regular;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &.darkmode {
    --background: #000000;
    --text: #ffffff;
    --border: #dedede;
    --accent: rgb(250, 170, 20);
    --dim: rgba(250, 170, 20, 0.4);
  }
}

::selection {
  background: var(--accent);
  color: var(--text);
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.h {
  display: none !important;
}

/* #endregion */

header#app-topbar {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  padding: 10px 20px 20px;
  opacity: 1;
  transition: transform 0.5s ease-out, padding-bottom 0.5s ease-in-out, box-shadow 2s;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: var(--background);
    transform: opacity 0.5s ease-in-out;
  }

  &.hidden {
    transform: translateY(-100px);
  }

  &.opaque {
    padding-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(100, 100, 100, 0.1);

    &:before {
      opacity: 0.9;
    }
  }

  > h1 {
    display: none;
  }

  nav {
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 0 0 transparent;
    transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;

    ul {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      height: 100%;

      svg {
        display: block;
        height: 100%;

        #icon-laurel {
          fill: var(--text);
        }

        #icon-letter {
          fill: none;
          stroke: var(--text);
          stroke-width: 10;
          stroke-miterlimit: 10;
        }
      }

      ul {
        max-width: 250px;
        padding: 5px 0 0;

        li {
          margin-left: 15px;
        }

        svg {
          display: block;
          width: 25px;
          height: 25px;
          fill: var(--text);
        }
      }
    }
  }
}

section#app-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 40vh 0 60vh;
  animation: heroSlideUp 1.5s 2.5s ease-in-out forwards;

  @media only screen and (max-width: 650px) {
    animation-name: heroSlideUpMobile;
  }

  &.static {
    padding: 20vh 0 0;

    @media only screen and (max-width: 650px) {
      padding: 120px 0 0;
    }

    * {
      animation-duration: 0s !important;
      animation-delay: 0s !important;
    }
  }

  @keyframes heroSlideUp {
    to {
      padding: 20vh 0 0;
    }
  }

  @keyframes heroSlideUpMobile {
    to {
      padding: 120px 0 0;
    }
  }

  > h2 {
    display: none;
  }

  svg {
    display: block;
    margin: 0 auto;
    width: 300px;

    path {
      fill: var(--text);
      opacity: 0;
      animation: logoLettersPlacing 1s ease-out forwards;

      &#k01,
      &#r02,
      &#d08,
      &#e09,
      &#w10 {
        transform: translate(45px);
      }

      &#s04,
      &#t05,
      &#o06,
      &#f07,
      &#l12,
      &#d13,
      &#e14 {
        transform: translate(-45px);
      }

      &#r02,
      &#s04,
      &#w10,
      &#l12 {
        animation-delay: 0.75s;
      }

      &#k01,
      &#t05,
      &#e09,
      &#d13 {
        animation-delay: 1s;
      }

      &#o06,
      &#d08,
      &#e14,
      &#f07 {
        animation-delay: 1.25s;
      }

      @keyframes logoLettersPlacing {
        to {
          opacity: 1;
          transform: translate(0);
        }
      }
    }

    g {
      animation: logoNamesSliding 1s 0.5s ease-in-out forwards;

      &:first-of-type {
        transform: translateY(46px);
      }

      &:last-of-type {
        transform: translateY(-46px);
      }

      @keyframes logoNamesSliding {
        to {
          transform: translateY(0);
        }
      }
    }
  }

  em {
    display: block;
    margin: 50px auto;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent);
    font-size: 1.2em;
    font-weight: 700;
    opacity: 0;
    animation: logoBaseLineFading 2s ease-out forwards;

    @keyframes logoBaseLineFading {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        letter-spacing: 0.2em;
      }
    }
  }
}

section#app-activity {
  margin: 0 auto;
  padding: 120px 0 80px;

  @media only screen and (max-width: 650px) {
    padding-top: 20px;
  }

  > h2 {
    display: none;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 3139px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media only screen and (max-width: 2239px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 1439px) {
      grid-template-columns: repeat(1, 1fr);
    }

    li.summary {
      position: relative;
      margin: 40px 80px;
      padding: 10px 20px;
      border-left: solid 1px var(--dim);

      @media only screen and (max-width: 650px) {
        font-size: 0.9em;
        margin: 20px 10px;
      }

      &:hover img {
        opacity: 0.1;
      }

      img {
        position: absolute;
        object-fit: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 5s ease-out;
      }

      time {
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-size: 0.8em;
        opacity: 0.5;
      }

      h3 {
        font: 700 1.6em/1.4em $font-regular;
        margin: 5px 0 25px;
        transition: color 0.5s;

        &:hover {
          color: var(--accent);
        }
      }

      p {
        opacity: 0.9;
      }

      li {
        display: inline;
        font-size: 0.7em;
        color: var(--accent);
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.75;
        }

        a {
          display: inline-block;
          margin: 0 10px 0 0;
          padding: 10px 0;

          &:before {
            content: "#";
          }
        }
      }
    }
  }
}

main > article {
  margin-bottom: 100px;

  > header {
    display: block;
    position: relative;
    height: 500px;
    padding: 180px 0 0;

    @media only screen and (max-width: 650px) {
      height: 320px;
      padding: 100px 0 0;
      font-size: 0.9em;
    }

    &:after {
      content: " ";
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--background) 100%);
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      animation: animatePostHeader 2s ease-out 1s forwards;

      @keyframes animatePostHeader {
        from {
          opacity: 0;
        }
        to {
          opacity: 0.5;
        }
      }
    }

    div {
      position: relative;
      z-index: 5;
      max-width: 880px;
      margin: 0 auto;
      padding: 0 20px;
    }

    time {
      letter-spacing: 0.2em;
      text-transform: uppercase;
      opacity: 0.5;
    }

    h1 {
      font-weight: 700;
      font-size: 2em;
      line-height: 1.4em;
      margin: 5px 0 15px;
    }

    li {
      display: inline;
      font-size: 0.7em;
      color: var(--accent);
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.75;
      }

      a {
        display: inline-block;
        margin: 0 10px 0 0;
        padding: 10px 0;

        &:before {
          content: "#";
        }
      }
    }
  }

  > section {
    display: block;
    position: relative;
    z-index: 5;
    max-width: 1080px;
    margin: 0 auto;

    h1 {
      max-width: 740px;
      margin: 0 auto;
      padding: 20px;
      font-size: 1.8em;
    }

    h2 {
      max-width: 740px;
      margin: 0 auto;
      padding: 30px 20px 15px;
      font-size: 1.7em;
      font-weight: 700;
    }

    h3 {
      max-width: 740px;
      margin: 0 auto;
      padding: 30px 20px 15px;
      font-size: 1.5em;
      font-weight: 700;
    }

    h4 {
      max-width: 740px;
      margin: 0 auto;
      padding: 30px 20px 15px;
      font-size: 1.4em;
      font-weight: 700;
    }

    p {
      max-width: 740px;
      margin: 0 auto;
      padding: 15px 20px;

      &.intro {
        font-size: 1.3em;
        padding: 0 20px 55px;
      }

      a {
        color: var(--accent);

        &:hover,
        &:focus,
        &:visited {
          color: var(--accent);
        }
      }

      mark {
        background: var(--dim);
        color: var(--text);
      }

      em {
        font-style: italic;
      }

      strong {
        font-weight: 700;
      }
    }

    code {
      font-family: $font-monospace;

      &:before,
      &:after {
        content: " ";
        display: inline-block;
        min-width: 6px;
      }
    }

    pre {
      max-width: 740px;
      margin: 0 auto;
      padding: 15px 20px;
      overflow-x: auto;
    }

    ul {
      max-width: 740px;
      margin: 0 auto;
      padding: 0 20px 15px 40px;
      list-style-type: square;
    }

    ol {
      max-width: 740px;
      margin: 0 auto;
      padding: 0 20px 15px 40px;
      list-style-type: decimal;
    }

    li {
      padding-left: 5px;
    }

    blockquote {
      margin: 25px auto 0;
      padding: 0 10px;
      text-align: center;
      font: 2.4em/1.4em $font-writing;

      &:before,
      &:after {
        content: " ";
        display: block;
        margin: 0 auto 25px;
        background: var(--accent);
        width: 60px;
        height: 3px;
      }

      footer {
        font: 0.4em $font-regular;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        padding: 25px 0;

        &:before,
        &:after {
          content: " — ";
        }
      }
    }
  }
}
